<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="ventures.paramount.phonegap.notificationhub"
    version="1.0.0">

  <name>NotificationHub</name>
	<author>Steven Livingstone-Perez</author>

	<description>
		This plugin allows your application to receive push Azure Notification Hub messages on Android, iOS, WP8 and Windows8 devices.
    Android uses Google Cloud Messaging.
    iOS uses Apple APNS Notifications.
    Windows uses Microsoft WNS Notifications.
	</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- android -->
	<platform name="android">

		<js-module src="www/notification.js" name="NotificationHub">
			<clobbers target="NotificationHub" />
		</js-module>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="NotificationHub" >
				<param name="android-package" value="ventures.paramount.phonegap.notificationhub.NotificationHubPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.VIBRATE"/>
			<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
			<permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
			<uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="ventures.paramount.phonegap.notificationhub.NotificationHubHandlerActivity" android:exported="true"/>
			<receiver android:name="ventures.paramount.phonegap.notificationhub.CordovaGCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
				<intent-filter>
					<action android:name="com.google.android.c2dm.intent.RECEIVE" />
					<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
					<category android:name="$PACKAGE_NAME" />
				</intent-filter>
			</receiver>
			<service android:name="ventures.paramount.phonegap.notificationhub.GCMIntentService" />
		</config-file>

		<source-file src="src/android/libs/gcm.jar" target-dir="libs/" />
		<source-file src="src/android/libs/android-support-v13.jar" target-dir="libs/" />
        <source-file src="src/android/libs/google-play-services.jar" target-dir="libs/" />
        <source-file src="src/android/libs/notification-hubs-0.1.jar" target-dir="libs/" />

        <source-file src="src/android/ventures/paramount/phonegap/notificationhub/CordovaGCMBroadcastReceiver.java" target-dir="src/ventures/paramount/phonegap/notificationhub/" />
		<source-file src="src/android/ventures/paramount/phonegap/notificationhub/GCMIntentService.java" target-dir="src/ventures/paramount/phonegap/notificationhub/" />
		<source-file src="src/android/ventures/paramount/phonegap/notificationhub/NotificationHubHandlerActivity.java" target-dir="src/ventures/paramount/phonegap/notificationhub/" />
		<source-file src="src/android/ventures/paramount/phonegap/notificationhub/NotificationHubPlugin.java" target-dir="src/ventures/paramount/phonegap/notificationhub/" />

	</platform>

	<!-- ios -->
	<platform name="ios">

		<js-module src="www/notification.js" name="NotificationHub">
			<clobbers target="NotificationHub" />
		</js-module>

		<config-file target="config.xml" parent="/*">
			<feature name="NotificationHub">
				<param name="ios-package" value="NotificationHubPlugin"/>
			</feature>
		</config-file>

		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/NotificationHubPlugin.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/NotificationHubPlugin.h" />


        <framework src="src/ios/WindowsAzureMessaging.framework" custom="true" />
        <source-file src="src/ios/libWindowsAzureMessaging.a" framework="false" />
	</platform>

  <!-- windows -->
  <platform name="windows">
	  <js-module src="www/Promise.js" name="Promise"/>

	  <js-module src="www/NotificationHub.js" name="NotificationHub">
		  <clobbers target="WindowsAzure.Messaging.NotificationHub" />
	  </js-module>

	  <framework src="src/windows/Microsoft.WindowsAzure.Messaging.Managed.dll" custom="true"/>
	  <framework src="src/windows/NotificationHubRuntimeProxy.winmd" custom="true"/>
	  <js-module src="src/windows/NotificationHubProxy.js" name="NotificationHubProxy" >
		  <clobbers target="" />
	  </js-module>
  </platform>

</plugin>
